body {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

a {
    color: #ffffff;
}

.header {
    background-color: transparent;
    position: fixed;
    width: 100%;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    background-color: rgb(36, 36, 36);
    width: 50px;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: transparent;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #b5b5b5;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #b5b5b5;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

h1 {
    font-size: 1.75rem;
}

#developer-text {
    padding-bottom: .5rem;
}

#name-text {
    padding-bottom: 2rem;
}

#section-one {
    background-image: url("images/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 50rem;
}

#section-one-icons {
    display:flex;
    padding-top: 7rem;

}
.icon {
    width:2rem;
    height:2rem;
    
}
.icon:hover{
filter: invert(50%);
}
#linkedin-icon{
    background-image:url("images/LinkedIN_white.png");
    background-size: cover;
    margin:10px;
}
#github-icon{
    background-image: url("images/Github_white.png");
    background-size:cover;
    margin:10px;
}
#me {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

#stack-image {
    width: 3rem;
    height: 3rem;
}

#section-two{
 background-color:black;
 height:50rem;
 display:flex;
 align-items: center;
}
#about-me-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:2.5rem;
}
#about-me{
    padding-top:5rem;
}
#section-two-image{
    width:12rem;
    height:12rem;
    border-radius: 20px;
}
h3{
   font-size:1rem;
   color:rgb(192, 192, 192);
}
#section-three{
    height:50rem;
    background-color:rgb(20, 42, 72);
    

}
#section-three-div{
   display:flex;
   justify-content: center;
   align-items: center;
    flex-wrap: wrap;
    max-width:600px;
    margin:0 auto;

   
    
    
}
.portfolio-items{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:1rem;
   

}
#project-title{
    font-size:.8rem;
    color:rgb(84, 159, 249);
}
.portfolio-image{
    width:150px;
    padding:5px;
    border-radius: 10px;
}

#section-four{
    display:flex;
    justify-content: center;
    align-items: center;
    height:50vh;
    color:rgb(201, 201, 201);
    text-shadow:0 0 0;
    background-color: rgb(0, 0, 0);
    
}
#contact-form{
    color: rgb(201, 201, 201);
}
#form{
    padding-left:2rem;
}

#contact-title{
    padding:2rem;
}
@media (min-width: 768px) {

    /* .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    } */
    #section-one{
        height:70rem;
    }
    h1 {
        font-size: 2.5rem;

    }

    #developer-text {
        padding-bottom: .5rem;
    }

    #name-text {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    #section-two {
        height: 70rem;
    }

    #section-one-icons {
        padding-top: 7rem;

    }

    h2 {
        font-size: 1.75rem;
    }

    .icon {
        width: 2rem;
        height: 2rem;
    }

    #me {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
    }

    #stack-image {
        width: 2.5rem;
        height: 2.5rem;
    }
    #section-two{
        height:70rem;
    }
    #section-three{
        height:70rem;
    }
    #section-four{
        height:70rem;
    }
    #about-me-container{
        flex-direction: row;
        margin:0 auto;
        
    
    }
    #about-me-text{
        font-size: 2.2rem;
        
    }
    #about-me{
        max-width:600px;
        min-width:200px;
        padding-bottom:7rem;
        
     
    }
    #section-two-image {
        width: 16rem;
        height: 16rem;
        margin-right:50px;
    }
    #section-three-div {
        padding-top:8rem;
        max-width: 800px;
        
    }
    .portfolio-image {
        width: 225px;
        padding: 10px;
        border-radius: 20px;
    }
    #project-title{
        font-size:1.2rem;
    }

}

@media (min-width: 1025px) {
    * .header li {
        float: left;
    }

    .header li a {
        padding: 20px 50px 0px 0px;
        background-color: transparent;
        font-size: 1.2rem;
    }

    .header li a:hover {
        color: rgb(189, 30, 157)
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    h1 {
        font-size: 3.2rem;

    }

    #developer-text {
        padding-bottom: .5rem;
    }

    #name-text {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

  

    .section-one {
        display: flex;
        align-items: center;
    }

    #section-one-icons {
        padding-top: 7rem;

    }

    h2 {
        font-size: 2.75rem;
    }

    .icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    #me {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
    }

    #stack-image {
        width: 3.5rem;
        height: 3.5rem;
    }
    #about-me-container {
        flex-direction: row;
        margin: 0 auto;
    }
    
    #about-me-text {
        font-size: 2.8rem;
    
    }
    h3{
        font-size:1.2rem;
    }
    #about-me {
        max-width: 700px;
        min-width: 200px;
        padding-bottom: 7rem;
    }
    #section-two-image {
        width: 20rem;
        height: 20rem;
        }
  #section-three-div {
      max-width: 900px;

  }
.portfolio-image {
      width: 250px;
      padding: 12px;
  }
        #project-title {
            font-size: 1.5rem;
        }

}
@media (min-width: 1200px) {

    #section-one-text{
    padding-right:5rem;
    }
    h1 {
    font-size: 3.8rem;

    }

    #developer-text {
        padding-bottom: .5rem;
    }

    #name-text {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    #section-one {
        height: 85rem;
    }
    #section-two {
        height: 85rem;
    }
    #section-three{
        height:85rem;
    }
    #section-four {
        height: 85rem;
     }

    #section-one-icons {
        padding-top: 7rem;

    }

    h2 {
        font-size: 3rem;
    }

    .icon {
        width: 3.5rem;
        height: 3.5rem;
    }

    #me {
        width: 25rem;
        height: 25rem;
        
    }

    #stack-image {
        width: 4.5rem;
        height: 4.5rem;
    }
  

    #about-me-text {
        font-size: 3.2rem;

    }

    h3 {
        font-size: 1.5rem;
    }

    #about-me {
        max-width: 800px;
        min-width: 200px;
        padding-bottom: 7rem;

    }

    #section-two-image {
        width: 25rem;
        height: 25rem;

 }
   #section-three-div {
       max-width: 1000px;
       padding-top:15rem;
       

   }

   .portfolio-image {
       width: 300px;
       padding: 12px;
   }
    #project-title {
    font-size: 1.7rem;
    }


}